* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

#tdl-placeholder {
  margin: 50px auto;
  width: 98%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media  screen and (min-width: 768px) {
  #tdl-placeholder {
    width: 50%;
  }
}

.tdl-title__container, .tdl-description-input__container, .tdl-description__container  {
  display:  flex;
  justify-content: space-between;
  padding: 15px 15px;
  flex-wrap: wrap;
  border-bottom: 2px solid #e3dedebf;
}

.tdl-title__container {
  padding-top: 18px
}

.tdl-footer {
  display:  flex;
  justify-content: center;
  padding: 20px 10px;
  background-color: #e9e4e47a;
}

.tdl-description__left--item {
  display:  flex;
  justify-items: center;
  gap: 0.8rem;
}

.tdl-description__input-field {
  border:  none;
}

.tdl-description__input-field:focus {
  outline: none;
}

.tdl-description-input__left--item {
  width: 75%;
}

.tdl-description__input-field {
  width: 100%;
}

.tdl-description__input-field::placeholder {
  font-style: italic;
  font-size: 16px;
}

.tdl-description__right--item  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  margin-right: 10px;
}

.dot {
  height: 3px;
  width: 3px;
  background-color: #1a19197a;
  border-radius: 50%;
  display: inline-block;
}

.reload {
  font-family: Lucida Sans Unicode
}

.tdl-description-input__right--item {
  margin-right: 5px;
}

.tdl-description-input__right--item span {
  content: "\21B5";
}

.tdl_title__right--item {
  margin-right: 3px;
}